.users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}


@media only screen and (max-width: 768px) {
    .users {
        grid-template-columns: repeat(2, 1fr);
    }
}